@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App{

}

.navbar-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: 75vw;
  height: 15vh;
  background-color: rgb(247 238 245);
  margin-top: 1vh;
  padding-left: 2%;
  padding-right: 2%;
  border-bottom: 1px solid gray;
}

.navBar-Links{
  /* background-color: #f2eff5; */
  width: 15vw;
  display: flex;
  justify-content: space-between;
}

.navBar-Links a {
 text-decoration: none; 
}

.Home-Contianer{
  /* background-color: brown; */
  width: 75vw;
  /* height: 70%; */
  /* display: flex; */
  align-items: center;
  justify-content: center ;
  margin: auto;
  /* margin-top:20% ; */

}

.CreatePage-Contianer{
  /* background-color: brown; */
  width: 75vw;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center ;
  margin: auto;

}

